<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>change_pwd</title>

</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="password" name="old_pwd">旧密码
    <input type="password" name="new_pwd">新密码
    <input type="password" name="repeat_pwd">重复新密码
    <p>{{ content.state }}</p>
    <input type="submit">
</form>
</body>
</html>